@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 font-sans antialiased selection:bg-indigo-500 selection:text-white;
  }
}

/* Custom Scrollbar for sleek UI */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}

/* Dot typing animation */
.dot-typing {
  position: relative;
  left: -9999px;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: #94a3b8;
  color: #94a3b8;
  box-shadow: 9984px 0 0 0 #94a3b8, 9999px 0 0 0 #94a3b8, 10014px 0 0 0 #94a3b8;
  animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
  0% {
    box-shadow: 9984px 0 0 0 #94a3b8, 9999px 0 0 0 #94a3b8, 10014px 0 0 0 #94a3b8;
  }
  16.667% {
    box-shadow: 9984px -6px 0 0 #94a3b8, 9999px 0 0 0 #94a3b8, 10014px 0 0 0 #94a3b8;
  }
  33.333% {
    box-shadow: 9984px 0 0 0 #94a3b8, 9999px 0 0 0 #94a3b8, 10014px 0 0 0 #94a3b8;
  }
  50% {
    box-shadow: 9984px 0 0 0 #94a3b8, 9999px -6px 0 0 #94a3b8, 10014px 0 0 0 #94a3b8;
  }
  66.667% {
    box-shadow: 9984px 0 0 0 #94a3b8, 9999px 0 0 0 #94a3b8, 10014px 0 0 0 #94a3b8;
  }
  83.333% {
    box-shadow: 9984px 0 0 0 #94a3b8, 9999px 0 0 0 #94a3b8, 10014px -6px 0 0 #94a3b8;
  }
  100% {
    box-shadow: 9984px 0 0 0 #94a3b8, 9999px 0 0 0 #94a3b8, 10014px 0 0 0 #94a3b8;
  }
}
